@page
@model Heros.Pages.Heroes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hero</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.War)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.War)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Specialization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Group)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Prefix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Prefix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Suffix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Suffix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.HeroType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.HeroType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.FlagStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.FlagStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.FlagReceiveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.FlagReceiveStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.FlagReceivedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.FlagReceivedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.FlagSponsor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.FlagSponsor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.MilitaryBranch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.MilitaryBranch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.BirthMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.BirthMonth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.DateOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.TreeStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.TreeStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.TreeLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.TreeLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.TreeLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.TreeLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.CauseOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.CauseOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.LocationOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.LocationOfDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginCounty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginCounty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginRegionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginRegionCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginRegionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginRegionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginDivisionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginDivisionCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginDivisionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginDivisionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginStateFipsCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginStateFipsCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginStateName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginStateName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.CountyCodeFips)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.CountyCodeFips)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.OriginCountyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.OriginCountyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hero.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
